.pricing-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.pricing-blocks {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px;
  gap: 40px;
}
.price-block {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 250px;
  border: 1px solid rgb(49, 49, 49);
  padding: 70px;
  background-color: #2d2d2d;
  border-radius: 20px;
}
.block-details {
  display: flex;
  flex-direction: column;
}
.pricing-button {
  margin-top: 20px;
  background-color: white;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  width: 100%;
  transform: scale(1);
  transition: ease-in-out 0.6s;
}
.pricing-button:hover {
  transform: scale(1.1);
  transition: ease-in-out 0.6s;
}
.pricing-header {
  font-weight: bold;
  text-align: left;
}
.pricing-desc {
  color: gray;
  font-style: italic;
}
.price {
  font-size: 40px;
  font-weight: bold;
  color: white;
  margin: 10px 0;
}
.prii